
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<!-- Page Header-->
<header class="masthead" style="background-image: url('../../assets/img/3.jpg'); ">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Explore Gollis Latest Courses!</h1>
                    <h2 class="subheading">Expand Your Knowledge And Gain Experience.</h2>
                    <span class="meta">
                        <a href="#!">Courses End</a>
                        By August 24, 2024
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<!-- Main content -->
<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3> @ViewBag.courses </h3>

                <p>Number of courses</p>
            </div>
            <a href="~/professor/Index3" class="small-box-footer">Available Courses <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<!-- Post Cont
<!-- Post Content-->

<div class="post-heading">
    <h1>Upcoming: </h1>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>C++</h3>

                            <p>3 months </p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>JS</h3>

                            <p>2 months</p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>English Lang</h3>

                            <p>6 weeks </p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>Photoshop</h3>

                            <p>5 weeks </p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
        </div>
    </section>
    <!-- /.row -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-navy">
                        <div class="inner">
                            <h3>PHP</h3>

                            <p>3 months </p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-blue">
                        <div class="inner">
                            <h3>Linux</h3>

                            <p>2 months</p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-olive">
                        <div class="inner">
                            <h3>Security</h3>

                            <p>5 weeks </p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-gray-dark">
                        <div class="inner">
                            <h3>Accounting</h3>

                            <p>3 weeks</p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
        </div>
    </section>
    <!-- /.row -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-pink">
                        <div class="inner">
                            <h3>Somali lang</h3>

                            <p>6 weeks </p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-orange">
                        <div class="inner">
                            <h3>Business</h3>

                            <p>2 months</p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-gray">
                        <div class="inner">
                            <h3>Web Dev</h3>

                            <p>3 months</p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-purple">
                        <div class="inner">
                            <h3>Asp.Net</h3>

                            <p>3 months</p>
                        </div>

                        <a href="#" class="small-box-footer">Enroll<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
        </div>
    </section>
    <!-- /.row -->
    <!-- Footer-->
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="small text-center text-muted fst-italic">Copyright &copy; Gollis University</div>
                </div>
            </div>
        </div>
    </footer>

